<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Node, Mongo & Docker</title>
</head>

<body>
  <h1>Hello from docker</h1>
  <hr>
  <h2>This is rendered from docker containers!!!</h2>
  <hr>
  <%= databaseInfo %>
</body>

</html>
